body {
    padding: 0;
    margin: 0;
    background: #000;
    color: #999;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.parent-header {
    width: 100%;
    background: url(./img/background.jpg);
    position: relative;
    height: 78vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.parent-header::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.6);
    box-shadow: inset 120px 20px 160px #000000;
}

.parent-header__header-line {
    z-index: 2;
    position: absolute;
}

.header-line__logo {
    width: 190px;
    height: 80px;
    position: absolute;
    z-index: 100;
    margin-left: 400px;
    margin-top: 15px;
}

.header-line__img-logo {
    width: 190px;
    height: 80px;
    position: absolute;
    z-index: 100;
}

.header-line__translator-dropdown {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 4rem;
    margin-top: 10px;
}

.translator-dropdown__button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 1330px;
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.translator-dropdown__content {
    display: none;
    position: absolute;
    background-color: blue;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 1330px;
    width: 103px;
    text-align: center;

}

.translator-dropdown__content ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.header-line__translator-dropdown:hover .translator-dropdown__content {
    display: block;
}

.button__arrow-img {
    margin-left: 10px;
}

.header-line__button-sign {
    border: none;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-left: 1380px;
    background-color: red;
    margin-top: 30px;
}

.header-line__button-sign:hover {
    background-color: darkred;
    cursor: pointer;
    transition: 1s;
}

/* =========================================== */

.header-content__header-title {
    z-index: 100;
    position: absolute;
    margin-left: 470px;
    margin-top: 260px;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    width: 1000px;

}

.parent-header__header-content {
    z-index: 100;
    position: absolute;

}

.header-content__header-txt {
    padding-left: 630px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-top: 400px;
}

.header-content__header-txt-second {
    padding-left: 630px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

/* ================================================================== */

.header-content__input-container {
    position: relative;
    margin-top: 20px;
    margin-left: 670px;
}


.input-container__input {
    width: 400px;
    height: 40px;
    padding: 22px 0px 0px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, padding 0.3s ease;
    background: none;
    color: #fff;
    font-size: 20px;
}

.placeholder {
    display: block;
    padding-left: 5px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 10px;
    transform-origin: left;
    pointer-events: none;
    font-size: 20px;
    transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-container__input:focus+.placeholder,
.input-container__input:not(:focus):valid {
    top: 10px;
    font-size: 15px;
}

/* ======================================================== */

.header-content__header-button {
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-content__header-button:hover {
    transition: 1s;
    background-color: rgb(138, 2, 2);
    cursor: pointer;
}


.cont {
    display: flex;
    flex-direction: row;
}

/* ============================================================== */

.nav-line {
    background: linear-gradient(to right, blue, red, blue);
    box-shadow: inset 40px 20px 160px #000000;
    z-index: 10;
    width: 1700px;
    margin-left: 100px;
    height: 160px;
    position: absolute;
    top: 640px;
    display: flex;
    flex-direction: row;
}

.nav-line__nav-line-right {
    margin-left: 600px;
    margin-top: 40px;
}

.nav-line__nav-line-left {
    flex-direction: column;
    margin-left: 50px;
}

.nav-line__nav-title {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-top: 35px;
}

.nav-line__nav-subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}

.nav-line__nav-button {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(52, 143, 247);
    color: rgb(52, 143, 247);
    font-weight: 600;
    font-size: 19px;
    margin-top: 10px;
}

/* ====================================================================== */

.parent-main__first-main-article {
    border-bottom: 8px solid rgb(74, 73, 73);
    display: flex;
    flex-direction: row;
    height: 700px;
}

.first-main-article__first-article-left {
    display: flex;
    flex-direction: column;

}

.first-article-left__title {
    margin-top: 260px;
    font-size: 4.2rem;
    font-weight: 800;
    color: #fff;
    margin-left: 180px;
}

.first-article-left__subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-left: 50px;
    margin-left: 180px;
    margin-top: 15px;
}

.first-article-right__img-tv {
    margin-top: 100px;
    z-index: 100;
    width: 740px;
    height: 527px;
    position: relative;
}

.first-article-right__first-video {
    z-index: 2;
    position: absolute;
    top: 842px;
    left: 1101px;
    width: 540px;
    height: 459px;
}

/* ======================================== */

.parent-main__second-main-article {
    display: flex;
    flex-direction: row;
}

.second-main-article__second-article-right {
    display: flex;
    flex-direction: column;
}

.second-article-left__article-img {
    margin-left: 200px;
    margin-top: 150px;
    width: 700px;
    height: 520px;
    z-index: 100;
    position: relative;
}

.second-article-left__article-video {
    position: absolute;
    top: 1626px;
    left: 318px;
    z-index: 3;
    height: 270px;
    width: 443px;


}

.second-article-left__title {
    margin-top: 300px;
    font-size: 4.2rem;
    font-weight: 800;
    color: #fff;
    margin-left: 80px;
}

.second-article-left__subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-left: 50px;
    margin-left: 80px;
    margin-top: 15px;
}